<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All chats!</h3>
    <form action="/chats/new" method="GET">
        <button>New Chat</button>
    </form>
    <br>
    <%  for(let chat of chats){  %>
       <div class="chat">
        <p>Forwarded by : <i><%= chat.from %></i> </p>
        <div class="msg">
            <p>Message : <%= chat.msg %></p>
            <form action="/chats/<%= chat._id%>/edit" method="GET">
                <button>Edit</button>
            </form> <BR>
            <form action="/chats/<%= chat._id %>?_method=DELETE" method="POST" class="df">
                <button class="db">Delete</button>
            </form>
        </div>
        <p>Received by : <i><%= chat.to %></i> </p>
        <hr>
        <p><%= chat.created_at.toString().split(" ")[4] %></p>
        <p><%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
       </div>
       <br>
    <% } %>
    <script src="/app.js"></script>
</body>
</html>